<extend name="Layout/page_login_base" />
<block name="content">
            <div class="container login-div">
                <!-- /container -->

                <div class="row">
                    <div class="col-xs-12 hidden-xs" style="margin-top:65px;"></div>
                </div>
                <div class="row  login-td">
                    <div class="col-sm-7 hidden-xs">
                        <!--<div class="img"></div>  -->
                    </div>
                    <div class="col-sm-4 well login-well">
                   </div>
               </div>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6 well-sm" align="center">
                        <form  method="post" class="form-inline" id="form_login">
                            <div class="form-group">
                                <input class="form-control" id="emp_no" name="emp_no"  placeholder="用户名"/>
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="password" type="password" name="password" placeholder="密码"/>
                            </div>
                            <input type="button" value="登录" onclick="login();" class="btn btn-sm btn-success">
                        </form>
                    </div>
                    <div class="col-sm-3"></div>
                </div>

            </div>

    </table>
</block>
<block name="js">
    <!--
    <link rel="stylesheet" href="__STATIC__/supersized/css/supersized.css">
    <script src="__STATIC__/supersized/js/supersized.3.2.7.min.js"></script>
    <script src="__STATIC__/supersized/js/supersized-init.js"></script>
 -->
	<script type="text/javascript">
		function login() {
			if (check_form("form_login")) {
				sendForm("form_login", "{:U('public/check_login')}");
			}
		}

		$(document).ready(function() {
			var $dom = "#password";
			<notempty name="is_verify_code">$dom="#verify";</notempty>
			$($dom).keydown(function(event) {
				if (event.keyCode == 13) {
					if (check_form("form_login")) {
						sendForm("form_login", "{:U('public/check_login')}");
						return false;
					}
				}
			});
           /* $('.login-div').css("width",'1280px');*/
		});
	</script>
</block>